<header>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contactos">Contactos</a></li>
        <li><a href="/nosotros">Nosotros</a></li>
        <li><a href="/preguntas-frecuentes">Preguntas frecuentes</a></li>
        <li><a href="/ingresar">Ingresar</a></li>
    </ul>
</header>